@tailwind base;
@tailwind components;
@tailwind utilities;


#product-description::-webkit-scrollbar {
  display: none;
}

#product-description {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}