@tailwind base;
@tailwind components;
@tailwind utilities;


#product-description::-webkit-scrollbar {
  display: none;
}

#product-description {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Base slide styling */
.slick-slide {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Centered testimonial appears bigger */
.slick-center {
  transform: scale(1.2); /* Bigger scale */
  z-index: 2; /* Bring it to the front */
}

/* Other testimonials are slightly smaller */
.slick-slide:not(.slick-center) {
  transform: scale(0.9); /* Smaller scale */
}